<div class="p-5 m-5  min-h-screen flex flex-col gap-5">
    <h1 class="text-5xl font-bold mb-5">
        Mando Directo
    </h1>
    <div class="bg-slate-100 shadow-xl w-[100%] h-[500px] rounded-xl flex">
        <%= image_tag("valves/electrovalvulas/mando-directo/012C.jpg", class:"w-[300px]  h-[500px] rounded-l-xl object-cover")%>
        <div class="m-5">
            <h1 class="font-bold text-4xl">
                ELECTROVALVULAS 1/8" - 1/4" - Mando Directo 2 Vías - Normalmente Cerrada
            </h1>

            <ul class="list-disc ml-8 mt-5">
                <li>
                    <b>
                        Tamaños de Rosca:
                    </b>
                         1/8" - 1/4"
                </li>
                <li>
                    <b>
                        Tipos de Rosca:
                    </b>
                         G - BSP - NPT
                </li>
                <li>
                    <b>
                        Cuerpo: Latón o
                    </b>
                         Acero Inoxidable
                </li>
                <li>
                    <b>
                        Juntas: NBR (Opcional
                    </b>
                         FKM)
                </li>
                <li>
                    <b>
                        Piezas Internas: Acero
                    </b>
                         Inoxidable
                </li>

            </ul>
                <div class="flex justify-end w-full items-end h-[200px]">
                    <button class=" bg-blue-500 text-neutral-50 rounded-lg p-3 font-bold ">
                        <%= link_to "Download PDF file", "/PDF_files/electrovalvulas/mando-directo/012C.pdf",target: "_blank" %>
                    </button>
                </div>

        </div>
    </div>
    <div class="bg-slate-100 shadow-lg w-[100%] h-[500px] rounded-xl flex">
        <%= image_tag("valves/electrovalvulas/mando-directo/222C-3.jpg", class:"w-[300px] h-[500px] rounded-l-xl object-cover")%>
        <div class="m-5">
            <h1 class="font-bold text-4xl">
                ELECTROVALVULAS 1/8" - 1/4" - 3/8" - 1/2" 2 Vías - Normalmente Cerrada
            </h1>
            <ul class="list-disc ml-8 mt-5">
                <li>
                    <b>Tamaños de Rosca:</b>
                     1/8" - 1/4" - 3/8" - 1/2"
                </li>
                <li>
                    <b>Tipos de Rosca:</b>
                     G - BSP - NPT
                </li>
                <li>
                    <b>Cuerpo:</b>
                     Latón o Acero Inoxidable
                </li>
                <li>
                    <b>Juntas:</b>
                     NBR (Opcional FKM - PTFE)
                </li>
                <li>
                    <b>Piezas Internas:</b>
                     Acero Inoxidable
                </li>
            </ul>
                <div class="flex justify-end w-full items-end h-[200px]">
                    <button class=" bg-blue-500 text-neutral-50 rounded-lg p-3 font-bold ">
                        <%= link_to "Download PDF file", "/PDF_files/electrovalvulas/mando-directo/212C.pdf",target: "_blank" %>
                    </button>
                </div>

        </div>
    </div>
    <div class="bg-slate-100 shadow-lg w-[100%] h-[500px] rounded-xl flex">
        <%= image_tag("valves/electrovalvulas/mando-directo/442C.jpg", class:"w-[300px] h-[500px] rounded-l-xl object-cover")%>
        <div class="m-5">
            <h1 class="font-bold text-4xl">
                ELECTROVALVULAS 1/4" - 3/8" - 1/2" ALTA PRESIÓN 2 Vías - Normalmente Cerrada
            </h1>
            <ul class="list-disc ml-8 mt-5">
                <li>
                    <b>
                        Tamaños de Rosca:     
                    </b>
                    1/8" - 1/4" - 3/8" - 1/2"
                </li>
                <li>
                    <b>
                        Tipos de Rosca:    
                    </b>
                    G - BSP - NPT
                </li>
                <li>
                    <b>
                        Cuerpo:     
                    </b>
                    Latón o Acero Inoxidable
                </li>
                <li>
                    <b>
                        Juntas:     
                    </b>
                    NBR (Opcional FKM - PTFE)
                </li>
                <li>
                    <b>
                        Piezas Internas:    
                    </b>
                    Acero Inoxidable
                </li>
            </ul>
                <div class="flex justify-end w-full items-end h-[200px]">
                    <button class=" bg-blue-500 text-neutral-50 rounded-lg p-3 font-bold ">
                        <%= link_to "Download PDF file", "/PDF_files/electrovalvulas/mando-directo/422C.pdf",target: "_blank" %>
                    </button>
                </div>

        </div>
    </div>
    <div class="bg-slate-100 shadow-lg w-[100%] h-[500px] rounded-xl flex">
        <%= image_tag("valves/electrovalvulas/mando-directo/212A-3.jpg", class:"w-[300px] h-[500px] rounded-l-xl object-cover")%>
        <div class="m-5">
            <h1 class="font-bold text-4xl">
                ELECTROVALVULAS 1/8" y 1/4" - Mando Directo 2 Vías - Normalmente Abierta
            </h1>

            <ul class="list-disc ml-8 mt-5">
                <li>
                    <b>Tamaños de Rosca:</b>
                     1/8"
                </li>
                <li>
                    <b>Tipos de Rosca:</b>
                     G - BSP
                </li>
                <li>
                    <b>Cuerpo:</b>
                     Latón
                </li>
                <li>
                    <b>Juntas:</b>
                     NBR (Opcional FKM)
                </li>
                <li>
                    <b>Piezas Internas:</b>
                     Acero Inoxidable
                </li>
            </ul>
                <div class="flex justify-end w-full items-end h-[200px]">
                    <button class=" bg-blue-500 text-neutral-50 rounded-lg p-3 font-bold ">
                        <%= link_to "Download PDF file", "/PDF_files/electrovalvulas/mando-directo/212A.pdf",target: "_blank" %>
                    </button>
                </div>

        </div>
    </div>
</div>