<div class="grid grid-row-flow justify-content grid-cols-1 lg:grid-cols-3 p-4 grid-rows-4 gap-5">


    <div class="w-[400px] bg-slate-100 h-[400px] border-slate-300 border-opacity-50 border-2 
        rounded-xl shadow-md shadow-slate-300  hover:cursor-pointer transition-all duration-300 
        hover:bg-blue-500 hover:shadow-slate-50 hover:text-slate-50">
        <%=link_to "",  electrovalvulas_mando_directo_path , class:" w-[400px] h-[400px] absolute"%>
        <%= image_tag("valves/electrovalvulas/mando-directo/442C.jpg", class:"object-cover w-full p-2 h-[300px] rounded-xl")%>

        <h1 class="text-3xl font-bold px-5 h-[90px]">
            Mando directo
        </h1>
                                        
    </div>
    <div class="w-[400px] bg-slate-100 h-[400px] border-slate-300 border-opacity-50 border-2 
        rounded-xl shadow-md shadow-slate-300  hover:cursor-pointer transition-all duration-300 
        hover:bg-blue-500 hover:shadow-slate-50 hover:text-slate-50">
        <%=link_to "", electrovalvulas_ferti_irrigacion_path, class:" w-[400px] h-[400px] absolute"%>
        <%= image_tag("valves/electrovalvulas/ferti-irrigacion/222C-3.jpg", class:"object-cover w-full p-2 h-[300px] rounded-xl")%>

        <h1 class="text-3xl font-bold px-5 h-[90px]">
            Ferti-Irrigación
        </h1>
                                        
    </div>
    
    <div class="w-[400px] bg-slate-100 h-[400px] border-slate-300 border-opacity-50 border-2 
        rounded-xl shadow-md shadow-slate-300  hover:cursor-pointer transition-all duration-300 
        hover:bg-blue-500 hover:shadow-slate-50 hover:text-slate-50">
        <%=link_to "", electrovalvulas_servomando_path, class:" w-[400px] h-[400px] absolute"%>
        <%= image_tag("valves/electrovalvulas/servomando/acero.jpg", class:"object-cover w-full p-2 h-[300px] rounded-xl")%>

        <h1 class="text-3xl font-bold px-5 h-[90px]">
            Servomando
        </h1>
                                        
    </div>

    <div class="w-[400px] bg-slate-100 h-[400px] border-slate-300 border-opacity-50 border-2 
        rounded-xl shadow-md shadow-slate-300  hover:cursor-pointer transition-all duration-300 
        hover:bg-blue-500 hover:shadow-slate-50 hover:text-slate-50">
        <%=link_to "", electrovalvulas_tres_vias_path, class:" w-[400px] h-[400px] absolute"%>
        <%= image_tag("valves/electrovalvulas/3-vias/223C-3.jpg", class:"object-cover w-full p-2 h-[300px] rounded-xl")%>

        <h1 class="text-3xl font-bold px-5 h-[90px]">
            3 Vías
        </h1>
                                        
    </div>

    <div class="w-[400px] bg-slate-100 h-[400px] border-slate-300 border-opacity-50 border-2 
        rounded-xl shadow-md shadow-slate-300  hover:cursor-pointer transition-all duration-300 
        hover:bg-blue-500 hover:shadow-slate-50 hover:text-slate-50">
        <%=link_to "", electrovalvulas_mando_combinado_path, class:" w-[400px] h-[400px] absolute"%>
        <%= image_tag("valves/electrovalvulas/mando-combinado/1.png", class:"object-cover w-full p-2 h-[300px] rounded-xl")%>

        <h1 class="text-3xl font-bold px-5 h-[90px]">
            Mando Combinado
        </h1>
                                        
    </div>
        
</div>