<div class="grid grid-row-flow   space-around lg:justify-start grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-4 grid-rows-2  gap-5">
    <div class="  w-[400px] bg-slate-100 h-[400px] border-slate-300 border-opacity-50 border-2 
        rounded-xl shadow-md shadow-slate-300  hover:cursor-pointer transition-all duration-300 
        hover:bg-blue-500 hover:shadow-slate-50 hover:text-slate-50">
        <%=link_to "", store_presostatos_path, class:" w-[400px] h-[400px] absolute"%>
        <%= image_tag("valves/presostatos/620.jpg", class:"object-cover w-full p-2 h-[300px] rounded-xl")%>

        <h1 class="text-3xl font-bold px-5 h-[90px]">
            Presostatos
        </h1>
                                        
    </div>
    <div class="  w-[400px] bg-slate-100 h-[400px] border-slate-300 border-opacity-50 border-2 
        rounded-xl shadow-md shadow-slate-300  hover:cursor-pointer transition-all duration-100 
        hover:bg-blue-500 hover:shadow-slate-50 hover:text-slate-50">
        <%=link_to "", store_componentes_de_automatizacion_path, class:" w-[400px] h-[400px] absolute"%>
        <%= image_tag("valves/componentes/com.jpg", class:"object-cover w-full p-2 h-[300px] rounded-xl")%>

        <h1 class="text-3xl font-bold px-5 h-[90px]">
            Componentes de automatización
        </h1>
                                        
    </div>
    <div class="  w-[400px] bg-slate-100 h-[400px] border-slate-300 border-opacity-50 border-2 
        rounded-xl shadow-md shadow-slate-300  hover:cursor-pointer transition-all duration-300 
        hover:bg-blue-500 hover:shadow-slate-50 hover:text-slate-50">
        <%=link_to "", store_valvulas_neumaticas_path, class:" w-[400px] h-[400px] absolute"%>
        <%= image_tag("valves/neumaticas/neu.jpg", class:"object-cover w-full p-2 h-[300px] rounded-xl")%>


        <h1 class="text-3xl font-bold px-5 h-[90px]">
            Válvulas Neumáticas
        </h1>
                                        
    </div>
    <div class="  w-[400px] bg-slate-100 h-[400px] border-slate-300 border-opacity-50 border-2 
        rounded-xl shadow-md shadow-slate-300  hover:cursor-pointer transition-all duration-300 
        hover:bg-blue-500 hover:shadow-slate-50 hover:text-slate-50">
        <%=link_to "", store_electrovalvulas_path, class:" w-[400px] h-[400px] absolute"%>
        <%= image_tag("valves/electrovalvulas/mando-directo/012C.jpg", class:"object-cover w-full p-2 h-[300px] rounded-xl")%>

        <h1 class="text-3xl font-bold px-5 h-[90px]">
            Electroválvulas
        </h1>
                                        
    </div>
    <div class="  w-[400px] bg-slate-100 h-[400px] border-slate-300 border-opacity-50 border-2 
        rounded-xl shadow-md shadow-slate-300  hover:cursor-pointer transition-all duration-300 
        hover:bg-blue-500 hover:shadow-slate-50 hover:text-slate-50">
        <%=link_to "", store_valvulas_membrana_path, class:" w-[400px] h-[400px] absolute"%>

        <%= image_tag("valves/membrana/val.png", class:"object-cover w-full p-2 h-[300px] rounded-xl")%>

        <h1 class="text-3xl font-bold px-5 h-[90px]">
            Válvulas de Membrana
        </h1>
                                        
    </div>

    <div class="  w-[400px] bg-slate-100 h-[400px] border-slate-300 border-opacity-50 border-2 
        rounded-xl shadow-md shadow-slate-300  hover:cursor-pointer transition-all duration-300 
        hover:bg-blue-500 hover:shadow-slate-50 hover:text-slate-50">
        <%=link_to "", store_bridas_path, class:" w-[400px] h-[400px] absolute"%>
        <%= image_tag("valves/bridas/1.jpg", class:"object-cover w-full p-2 h-[300px] rounded-xl")%>

        <h1 class="text-3xl font-bold px-5 h-[90px]">
            Bridas
        </h1>
                                        
    </div>

        
</div>