<div class="p-5 m-5  min-h-screen flex flex-col gap-5">
    <h1 class="text-5xl font-bold mb-5">
        Presostatos
    </h1>
    <div class="bg-slate-100 shadow-xl w-[100%] h-[500px] rounded-xl flex">
        <%= image_tag("valves/presostatos/610.jpg", class:"w-[500px] h-[500px] rounded-l-xl object-cover")%>
        <div class="m-5">
            <h1 class="font-bold text-5xl">
                Serie 610: Presostatos - Vacuestatos
            </h1>
            <h3 class="mt-5 ml-2 font-bold">
                Rango:

            </h3>
            <ul class="list-disc ml-8">
                <li>
                    Vacío: -1 ... -320 mbar
                </li>
                <li>
                    Presión: 1 ... 500 mbar
                </li>
            </ul>
                <div class="flex justify-end w-full items-end h-[200px]">
                    <button class=" bg-blue-500 text-neutral-50 rounded-lg p-3 font-bold ">
                        <%= link_to "Download PDF file", "/PDF_files/presostatos/HUBA-610.pdf",target: "_blank" %>
                    </button>
                </div>

        </div>
    </div>
    <div class="bg-slate-100 shadow-lg w-[100%] h-[500px] rounded-xl flex">
        <%= image_tag("valves/presostatos/620.jpg", class:"w-[500px] h-[500px] rounded-l-xl object-cover")%>
        <div class="m-5">
            <h1 class="font-bold text-5xl">
                Serie 620 - 625: Presostatos - Vacuostatos
            </h1>
            <h3 class="mt-5 ml-2 font-bold">
                Rango:

            </h3>
            <ul class="list-disc ml-8">
                <li>
                    Vacío: -4 ... -900 mbar
                </li>
                <li>
                    Presión: 2 ... 6000 mbar - 6 bar
                </li>
            </ul>
                <div class="flex justify-end w-full items-end h-[200px]">
                    <button class=" bg-blue-500 text-neutral-50 rounded-lg p-3 font-bold ">
                        <%= link_to "Download PDF file", "/PDF_files/presostatos/HUBA-620-625.pdf",target: "_blank" %>
                    </button>
                </div>

        </div>
    </div>
    <div class="bg-slate-100 shadow-lg w-[100%] h-[500px] rounded-xl flex">
        <%= image_tag("valves/presostatos/652.jpg", class:"w-[550px] h-[500px] rounded-l-xl object-cover")%>
        <div class="m-5">
            <h1 class="font-bold text-5xl">
                Serie 620 - 625: Presostatos - Vacuostatos
            </h1>
            <h3 class="mt-5 ml-2 font-bold">
                Rango:

            </h3>
            <ul class="list-disc ml-8">
                <li>
                    Vacío: -4 ... -900 mbar
                </li>
                <li>
                    Presión: 2 ... 6000 mbar - 6 bar
                </li>
            </ul>
                <div class="flex justify-end w-full items-end h-[200px]">
                    <button class=" bg-blue-500 text-neutral-50 rounded-lg p-3 font-bold ">
                        <%= link_to "Download PDF file", "/PDF_files/presostatos/HUBA-652.pdf",target: "_blank" %>
                    </button>
                </div>

        </div>
    </div>
</div>